
@media (max-width: 1190px) { .character-clear { opacity: .1; } }

.character-description { font-size: 2vw; }
@media (min-width: 850px) { .character-description { font-size: 16px; } }

.character-select-question { font-size: 2vw; }
@media (min-width: 1000px) { .character-select-question { font-size: 30px; } }

.character-select-description { font-size: 3.8vh; }
@media (min-height: 677px) { .character-select-description { font-size: 20px; } }

.character-select-text {
    font-size: 16px;
}

@media (max-width: 1000px), (max-height: 800px) {
    .character-select-text {
        font-size: 14px;
    }
}

@media (max-width: 800px), (max-height: 700px) {
    .character-select-text {
        font-size: 12px;
    }
}
