
.health-outcome {
    background-color: #efe7c3 !important;
}

.healthcare-outcome {
    background-color: #c95a49 !important;
}

.climate-outcome {
    background-color: #cea055 !important;
}

.culture-outcome {
    background-color: #c8d7f6 !important;
}

.environment-outcome {
    background-color: #649e63 !important;
}
