
.flag {
    width: 100px;
}

.flags {
    max-width: 64px;
    width: 8vw;
    padding: 8px;
}

.region-container {
    /*display: grid;*/
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.region-sub-container {
    position: relative;
    height: 100%;
    align-self: center;
}

.region-image {
    width: auto;
    height: 85%;
}

.region-name{
    left: 40%;
    bottom: 0px;
    font-size: 30px;
}

@media (max-width: 1110px) { .region-name { font-size: 3vw; } }
@media (max-width: 1062px) { .region-globe { display: none; } }

.region-row {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.region-description {
    font-size: 20px;
}

@media (max-width: 940px) { .region-description { font-size: 16px; } }
@media (max-width: 840px) { .region-description { font-size: 14px; } }
